@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
@font-face {
  font-family: "Netflix Sans Bold";
  src: url("../font/Netflix Sans Bold.otf");
}

@font-face {
  font-family: "Netflix Sans Medium";
  src: url("../font/Netflix Sans Medium.otf");
}

@font-face {
  font-family: "Netflix Sans Light";
  src: url("../font/Netflix Sans Light.otf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(rgba(65, 65, 65, 0.5), rgb(32, 32, 32)),
    url(../images/backgroundimg3.jpg);
  background-size: cover;
  background-position: center;
  height: auto;
  background-repeat: no-repeat;
  background-color: rgb(32, 32, 32);
  background-attachment: fixed;
}
footer {
  width: 100%;
  height: auto;
  background: linear-gradient(rgba(255, 0, 0, 0), rgb(0, 0, 0));
}

li,
a,
button,
.event_date_ag,
.event_time_ag {
  font-family: "Netflix Sans Medium", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: aliceblue;
  text-decoration: none;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  margin: 1rem auto;
  border-radius: 20px;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.486);
  width: 85%;
  margin: 1rem auto;
  border-radius: 20px;
  box-shadow: 0 0 25px -1px rgba(0, 0, 0, 0.486);
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.navbar nav .nav_links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.4rem 0px;
}

.nav_links li {
  display: inline-block;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
  color: rgb(177, 6, 15);
}

button {
  padding: 0.563rem 1.563rem;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.login {
  border: 0.1rem;
  border-color: rgb(177, 6, 15);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0);
  margin-right: 1.25rem;
}

.logo {
  width: 10rem;
}

.signin {
  border: 0.1rem;
  border-color: rgb(177, 6, 15);
  border-style: solid;
  background-color: rgb(177, 6, 15);
}

button:hover {
  background-color: rgba(36, 36, 36, 0.753);
}

.containerEv {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.486);
  width: 85%;
  height: auto;
  margin: 1rem auto;
  border-radius: 20px;
  box-shadow: 0 0 25px -1px rgba(0, 0, 0, 0.486);
}
.containerEv .title {
  font-size: 2rem;
  font-weight: 800;
  width: auto;
  font-family: "Netflix Sans Bold";
  color: whitesmoke;
  width: 20rem;
}
.containerEv .poster img {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 25px -1px rgba(0, 0, 0, 0.486);
}
.desc {
  font-size: 1rem;
  width: auto;
  font-family: "Netflix Sans Light", sans-serif;
  color: whitesmoke;
  width: 20rem;
}
.event-description p {
  font-size: 1rem;
  font-family: sans-serif;
  color: rgba(245, 245, 245, 0.445);
}
.containerEv .left-side,
.containerEv .right-side {
  margin: 0;
  flex-direction: column;
  gap: 1rem;
  flex-grow: 2;
  flex-basis: 0;
  background: linear-gradient(rgba(0, 0, 0, 0.795), rgba(0, 0, 0, 0.479));
  box-shadow: 0 0 25px -1px rgba(0, 0, 0, 0.486);
}
.containerEv .right-side {
  flex-grow: 1;
  align-items: center;
  align-content: center;
  height: auto;
}
.seat {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0.1rem;
  width: 1.5rem;
  height: 1.4rem;
  background-color: rgba(46, 46, 46, 0.555);
}
.seat:hover {
  background-color: rgba(29, 190, 42, 0.315);
}
.selected-seat {
  background-color: rgb(29, 190, 42);
}
.selected-seat:hover {
  background-color: rgb(29, 190, 42);
}
.occupied-seat {
  background-color: rgb(190, 29, 29);
}
.occupied-seat:hover {
  background-color: rgb(190, 29, 29);
}
.parteners {
  display: flex;
  justify-content: space-around;
}
.parteners .nav_links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
.reservation {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.seats-lable {
  width: 100%;
}
.seats-lable ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 10px;
  list-style-type: none;
}
.seats-lable li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}
.hh {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  perspective: 1000px;
}
.screen {
  background-color: #fff;
  height: 120px;
  width: 75%;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 40px rgba(255, 255, 255, 0.7);
}
